<!DOCTYPE html>
<html lang="en">
<%- include ./partials/head.ejs %>

<body>

<%- include ./partials/navbar.ejs %>
                    
        <%- include ./partials/main.ejs %>

        <%- include ./partials/heiden.ejs %>

        <%- include ./partials/history.ejs %>

        <%- include ./partials/teachers.ejs %>

        <%- include ./partials/lineage.ejs %>

</body>

</html>